<% if @stock %>
  <div class='well results-block'>
    <strong>Symbol:</strong> <%= @stock.ticker %>
    <strong>Name:</strong> <%= @stock.name %>
    <strong>Price:</strong> <%= @stock.last_price %>
  </div>
<% end %>

<% if @crypto %>
  <div class='well results-block'>
    <strong>Currency:</strong> <%= @crypto.currency %>
    <strong>Bitcurrency:</strong> <%= @crypto.bitcurrency %>
    <strong>Last Price:</strong> <%= @crypto.last %>
  </div>
<% end %>
