<% if params[:action] == 'search' %>
  <div class="results-block">
    <%= bootstrap_flash %>
  </div>
<% end %>
<% if @stock %>
  <div class='well results-block'>
    <strong>Symbol:</strong> <%= @stock.ticker %>
    <strong>Name:</strong> <%= @stock.name %>
    <strong>Price:</strong> <%= @stock.last_price %>
    <% if current_user.can_add_stock?(@stock.ticker) %>
      <%= link_to "Add to my stocks", user_stocks_path(user: current_user, stock_ticker: @stock.ticker), class: 'btn btn-xs btn-success', method: :post %>
      <% else %>
      <span class='label label-default'>
        Stock cannot be added because you have already added
        <% if !current_user.under_stock_limit? %>
          10 stocks
        <% end %>
        <% if current_user.stock_already_added?(@stock.ticker) %>
        this stock
        <% end %>
      </span>
  </div>
  <% end %>
<% end %>
<% if @crypto %>
  <div class='well results-block'>
    <strong>Currency:</strong> <%= @crypto.currency %>
    <strong>Bitcurrency:</strong> <%= @crypto.bitcurrency %>
    <strong>Last Price:</strong> <%= @crypto.last %>
    <% if current_user.can_add_crypto?(@crypto.bitcurrency) %>
      <%= link_to 'Add to my cryptos', user_cryptos_path(user: current_user, bitcurrency: @crypto.bitcurrency), class: 'btn btn-xs btn-success', method: :post %>
    <% else %>
    <span class='label label-default'>
      Crypto cannot be added because you have already added it
    <% end %>
  </div>
<% end %>
